<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <script src="https://unpkg.com/vue@next"></script>

    <h1>
        hello vue framework
    </h1>

    <div id="vue-app-container">
        <h3>categories</h3>
        <div class="categories">
            <div class="category" v-for="category in categories">
                id: {{ category.id }}, name: {{ category.name }}
            </div>
        </div>

        <h3>products</h3>
        <div class="products">
            <div class="product" v-for="product in products">
                id: {{ product.id }}, category: {{ product.category_id }} name: {{ product.name }} price: {{ product.price }}
            </div>
        </div>
    </div>

    <script src="/public/main.js"></script>
</body>
</html>